#typewriter {
  position: absolute;
  bottom: 35%;
  left: 39%;
  transform: translateY(250%);
  font-family: 'Calibri', sans-serif;
  font-size: 32px;
  color: #A9A9A9  ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  white-space: pre;
  overflow: hidden;
  border-right: 0.12em solid #ffffff;
}