<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <iframe 
    src="https://docs.google.com/forms/d/e/1FAIpQLScC7dsimTDWwTKYi_ATyiVuZPNYcHgDxOog5Mv-PxjVQhm5Tw/viewform?embedded=true" 
    class="w-full" 
    style="height: auto; min-height: 1300px;" 
    frameborder="0" 
    marginheight="0" 
    marginwidth="0">
    Loading…
</iframe>

  </div>
</section>
